.form-area {
    background-color: rgb(38, 143, 167);
    padding: 50px 0;
    width: 40%;
    margin: 0 auto;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.form-items input {
    padding: 10px 10px;
    width: 95%;
    margin-bottom: 10px;
}
.form-items textarea {
    padding-bottom: 40px;
    width: 97%;
    padding-left: 10px;
}